table.store-inventory-table col.name {
	width: 420px;
}

table.store-inventory-table col.quantity {
	width: 80px;
	font-size: smaller;
	text-align: center;
}

table.store-inventory-table col.price {
	width: 60px;
	font-size: smaller;
	text-align: center;
}

table.store-inventory-table col.buy {
	width: 180px;
	text-align: center;
}

table.store-inventory-table col.examine {
	width: 80px;
	text-align: center;
}

table.store-inventory-table tfoot>tr {
	border-top: solid 5ex transparent;
}

button.store-button {
	width: 80px;
	font-size: smaller;
	padding: 4px;
	text-transform: uppercase;
}

button.disabled-store-button {
	opacity: 0.6;
	cursor: not-allowed !important;
}
